/*
Author: Colby Jarrell
Author URL: https://colbyjcreative.com

*/

/*Colors
Red: #a12026
Pink: #ee6265
Yellow: #f8ed70
Black: #0c0d0d
Te'a Skin: #fccf9c
Client Skin: #ffebbe*/

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */


@media (min-width: 768px) and (max-width: 1210px) {
  .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
}
/* responsive text queries */


/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) {
  
  .header-transparency{
    max-height: 50%;
  }
  .header-inner{
    padding-top: 7.5em;
  }
  .logo-container{
    padding: 5px;
    padding-bottom:0px;
  }
  .brand-type{
    max-width: 100%;

    margin: 0px;
  }
  .container-fluid{
    padding-bottom: 5px;
  }
  .navbar-nav{
      margin: 0 auto;
      display: block;
      table-layout: fixed;
      float:none;
  }  
}
@media (max-width: 2561px) {
  /*NAVBAR FONT*/
  .navbar .nav > li > a, .navbar .nav > li > a.page-scroll > h3,
  .navbar .nav > li.current-menu-item > a.page-scroll > h3, 
  .navbar .nav > li.current-menu-ancestor > a.page-scroll > h3{                       
    font-family:    'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 1.5em;
  }
  .logo{
    margin: 0 auto;
    -webkit-border-radius: 41.5px;
    -moz-border-radius: 41.5px;
    border-radius: 41.5px;
    -webkit-box-shadow: #A12026 3px 3px 3px;
    -moz-box-shadow: #A12026 3px 3px 3px;
    box-shadow: #A12026 3px 3px 3px;
    padding: 0px;
  }
  /*Packages Flexslider*/
  .flexslider > .slides > li{
    position: relative;
  }
  .flex-caption {
    position: absolute;
    padding: 1.75%;
    min-height: 30%;
    line-height: 5.75em !important;
    border-top: solid 1.5px #a12026 !important;
  }
  .packages-container{
    max-width: 80%;
    margin:0 auto;
  }
  h1.package-header{
    font-size:9em;
  }
  p.package-description{
    font-size:3.75em;
  }
  .package-list{
    list-style: none;
    text-align: center;
    padding: 7.5px;
  }
  h3.package-list-header{
    font-size: 5.5em;
    margin-top: 10px;
    margin-bottom: 2px !important;
  }
  .btn {
    margin-top: 20px;
    font-size: 35px;
  }
}

@media (max-width: 1628px) {
  .logo {
    margin: 0 auto;
    -webkit-border-radius: 43px;
    -moz-border-radius: 43px;
    border-radius: 43px;
    -webkit-box-shadow: #A12026 3px 3px 3px;
    -moz-box-shadow: #A12026 3px 3px 3px;
    box-shadow: #A12026 3px 3px 3px;
    padding: 0px;
  }
   /*NAVBAR FONT*/
  .navbar .nav > li > a, .navbar .nav > li > a.page-scroll > h3,
  .navbar .nav > li.current-menu-item > a.page-scroll > h3, 
  .navbar .nav > li.current-menu-ancestor > a.page-scroll > h3{                       
    font-family:    'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 1.6em;
  }
}
@media (max-width: 1601px) {
     /*Section Content*/
  .section-head > h1{
    font-family: "blessed-day";
    font-size: 15em;
  }
    .section-body{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
  }
  h3.section-sub {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 4em;
  }
  .logo{
    margin: 0 auto;
    -webkit-border-radius: 41.5px;
    -moz-border-radius: 41.5px;
    border-radius: 41.5px;
    -webkit-box-shadow: #A12026 3px 3px 3px;
    -moz-box-shadow: #A12026 3px 3px 3px;
    box-shadow: #A12026 3px 3px 3px;
    padding: 0px;
  }
  /*packages flexslider*/
  .flexslider > .slides > li{
    position: relative;
  }
  .flex-caption {
    position: absolute;
    padding: 1.75%;
    min-height: 30%;
    line-height: 3em !important;
    border-top: solid 1.5px #a12026 !important;
  }
  .packages-container{
    max-width: 80%;
    margin:0 auto;
  }
  h1.package-header{
    font-size: 5.5em;
  }
  p.package-description{
    font-size:2.5em;
  }
  .package-list{
    padding: 7.5px;
  }
  h3.package-list-header{
    font-size: 3.25em;
    margin-top: 10px;
    margin-bottom: 2px !important;
  }
}
@media (max-width: 1367px) {
  h3.section-sub{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 3.75em;
  }
  .logo{
    margin: 0 auto;
    -webkit-border-radius: 38px;
    -moz-border-radius: 38px;
    border-radius: 38px;
    -webkit-box-shadow: #A12026 3px 3px 3px;
    -moz-box-shadow: #A12026 3px 3px 3px;
    box-shadow: #A12026 3px 3px 3px;
    padding: 0px;
  }
  /*NAVBAR FONT*/
  .navbar .nav > li > a, .navbar .nav > li > a.page-scroll > h3,
  .navbar .nav > li.current-menu-item > a.page-scroll > h3, 
  .navbar .nav > li.current-menu-ancestor > a.page-scroll > h3{                       
    font-family:    'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 1.45em;
  }
}
@media (max-width: 1025px){
  /*Section Content*/
  .section-head > h1{
    font-family: "blessed-day";
    font-size: 9em;
  }
  h3.section-sub {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 3em;
  }
  p.section-body{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 3em;
    text-align: justify;
    padding: 15px;
  }
  .logo {
    margin: 0 auto;
    -webkit-border-radius: 43px;
    -moz-border-radius: 43px;
    border-radius: 43px;
    -webkit-box-shadow: #A12026 3px 3px 3px;
    -moz-box-shadow: #A12026 3px 3px 3px;
    box-shadow: #A12026 3px 3px 3px;
    padding: 0px;
  }
  /*NAVBAR FONT*/
  .navbar .nav > li > a, .navbar .nav > li > a.page-scroll > h3,
  .navbar .nav > li.current-menu-item > a.page-scroll > h3, 
  .navbar .nav > li.current-menu-ancestor > a.page-scroll > h3{                       
    font-family:    'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 1.40em;
  }
  /*Packages*/
  /*Flexslider*/
  .flexslider > .slides > li{
    position: relative;
  }
  .flex-caption {
    position: relative !important;
    padding: 1.75%;
    min-height: 320px !important;
    height: 100% !important;
    -webkit-background-size: 268px 181px !important;
    -moz-background-size: 268px 181px !important;
    -o-background-size: 268px 181px !important;
    background-size: 268px 181px !important;
    line-height: 3em !important;
    border-top: solid 1.5px #a12026 !important;
  }
  .packages-container{
    max-width: 100%;
    margin:0 auto;
  }
  h1.package-header{
    font-size: 3.25em;
  }
  p.package-description{
    font-size:2.75em;
  }
  ul.package-list{
    line-height: 2.75em !important;
  }
  ul.package-list > li{
    margin-bottom: 10px;
  }
  h3.package-list-header{
    font-size: 2.5em;
    margin-top: 10px;
    margin-bottom: 2px !important;
  }
  .btn {
    font-size: 20px;
  }

}
@media (max-width: 769px){
    /*Section Content*/
  .section-head > h1{
    font-family: "blessed-day";
    font-size: 9em;
  }
  h3.section-sub {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 3em;
  }
  p.section-body{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 2.75em;
    text-align: justify;
    padding: 30px;
  }
  .logo {
    margin: 0 auto;
    -webkit-border-radius: 76px;
    -moz-border-radius: 76px;
    border-radius: 76px;
    -webkit-box-shadow: #A12026 3px 3px 3px;
    -moz-box-shadow: #A12026 3px 3px 3px;
    box-shadow: #A12026 3px 3px 3px;
    padding: 0px;
  }
  /*NAVBAR FONT*/
  .navbar .nav > li > a, .navbar .nav > li > a,
  .navbar .nav > li.current-menu-item > a, 
  .navbar .nav > li.current-menu-ancestor > a {                       
    font-family:    'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 1.5em;
  }
  /*About*/
  .tea-img{
    max-width: 300px;
  }
  /*Packages*/
  /*Flexslider*/
  .flexslider > .slides > li{
    position: relative;
  }
  .flex-caption {
    position: relative !important;
    padding: 1.75%;
    min-height: 280px !important;
    height: 100% !important;
    -webkit-background-size: 268px 181px !important;
    -moz-background-size: 268px 181px !important;
    -o-background-size: 268px 181px !important;
    background-size: 268px 181px !important;
    line-height: 2.25em !important;
    border-top: solid 1.5px #a12026 !important;
  }
  .packages-container{
    max-width: 100%;
    margin:0 auto;
  }
  h1.package-header{
    font-size: 2.75em;
  }
  p.package-description{
    font-size:2em;
  }
  ul.package-list{
    line-height: 2em !important;
  }
  ul.package-list > li{
    margin-bottom: 10px;
  }
  h3.package-list-header{
    font-size: 2.25em;
    margin-bottom: 2px !important;
  }
  .btn {
    font-size: 17.5px;
  }
}

@media (max-width: 415px){
  /*Section Content*/
  .section-head > h1{
    font-family: "blessed-day";
    font-size: 6em;
  }
  h3.section-sub{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 2.5em;
  }
  p.section-body{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 2.5em;
    text-align: justify;
    padding: 10px;
  }
  /*Header*/
  .header-transparency{
    min-height: 575px;
  }
  .logo{
    margin: 0 auto;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    -webkit-box-shadow: #A12026 3px 3px 3px;
    -moz-box-shadow: #A12026 3px 3px 3px;
    box-shadow: #A12026 3px 3px 3px;
    padding: 0px;
  }
  /*NAVBAR FONT*/
  .navbar .nav > li > a, .navbar .nav > li > a,
  .navbar .nav > li.current-menu-item > a, 
  .navbar .nav > li.current-menu-ancestor > a {                       
    font-family:    'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 1.25em;
  }
  /*About*/
  .tea-img{
    max-width: 250px;
  }
  /*Packages*/
  /*Flexslider*/
  .flexslider > .slides > li{
    position: relative;
  }
  .flex-caption {
    position: relative !important;
    padding: 1.75%;
    min-height: 240px !important;
    height: 100% !important;
    background: rgba(238,98,101,.5);
    -webkit-background-size: 268px 181px !important;
    -moz-background-size: 268px 181px !important;
    -o-background-size: 268px 181px !important;
    background-size: 268px 181px !important;
    line-height: 1.75em !important;
    border-top: solid 1.5px #a12026 !important;
  }
  .packages-container{
    max-width: 100%;
    margin:0 auto;
  }
  h1.package-header{
    font-size: 2.5em;
  }
  p.package-description{
    font-size:1.75em;
  }
  ul.package-list{
    line-height: 1.75em !important;
  }
  ul.package-list > li{
    margin-bottom: 10px;
  }
  h3.package-list-header{
    font-size: 2em;
    margin-top: 10px;
    margin-bottom: 2px !important;
  }
  .btn {
    font-size: 15px;
  }
}

@media (max-width: 376px){
    /*Section Content*/
  .section-head >h1{
    font-family: "blessed-day";
    font-size: 9em;
  }
  p.section-body{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 2.5em;
    text-align: justify;
    padding: 10px;
  }
  /*Header*/
  .header-transparency{
    min-height: 575px;
  }
  .logo{
    margin: 0 auto;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    -webkit-box-shadow: #A12026 3px 3px 3px;
    -moz-box-shadow: #A12026 3px 3px 3px;
    box-shadow: #A12026 3px 3px 3px;
    padding: 0px;
  }

  /*About*/
  .tea-img{
    max-width: 250px;
  }
  /*Packages*/
  /*Flexslider*/
  .flexslider > .slides > li{
    position: relative;
  }
  .flex-caption {
    position: relative !important;
    padding: 1.75%;
    min-height: 181px !important;
    height: 100% !important;
    -webkit-background-size: 268px 181px !important;
    -moz-background-size: 268px 181px !important;
    -o-background-size: 268px 181px !important;
    background-size: 268px 181px !important;
    line-height: 1.5em !important;
    border-top: solid 1.5px #a12026 !important;
  }
  .packages-container{
    max-width: 100%;
    margin:0 auto;
  }
  h1.package-header{
    font-size: 2.25em;
  }
  p.package-description{
    font-size:1.5em;
  }
  ul.package-list{
    line-height: 1.5em !important;
  }
  ul.package-list > li{
    margin-bottom: 7px;
  }
  h3.package-list-header{
    font-size: 1.75em;
    margin-bottom: 2px !important;
  }
  .btn {
    font-size: 12px !important;
  }
}


@media (max-width: 321px){
  /*Section Content*/
  .section-head >h1{
    font-family: "blessed-day";
    font-size: 7em;
  }
  h3.section-sub{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 2.25em;
  }
  p.section-body{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 2em;
    text-align: justify;
    padding: 7.5px;
  }
  /*Header*/
  .header{
    background: url(../images/1.jpg)no-repeat center 25%;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
  }
  .header-transparency{
    min-height: 575px;
  }
  .header-inner{
    padding-top: 3em;
  }
  .logo-container{
    padding: 25px;
    padding-bottom:0px;
  }
  .logo{
    margin: 0 auto;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    -webkit-box-shadow: #A12026 3px 3px 3px;
    -moz-box-shadow: #A12026 3px 3px 3px;
    box-shadow: #A12026 3px 3px 3px;
    padding: 0px;
  }
  .brand-type{
    max-width: 150%;
    margin: 0px;
  }
  .container-fluid{
    padding-bottom: 5px;
  }
  .navbar-nav{
    margin: 0 auto;
    display: block;
    table-layout: fixed;
    float:none;
  }
  /*NAVBAR FONT*/
  .navbar .nav > li > a, .navbar .nav > li > a,
  .navbar .nav > li.current-menu-item > a, 
  .navbar .nav > li.current-menu-ancestor > a {                       
    font-family:    'Josefin Sans', sans-serif !important;
    font-weight: 300;
    font-size: 1.25em;
  }
  /*About*/
  .tea-img{
    max-width: 200px;
  }
  /*Packages*/
  /*Flexslider*/
  .flexslider > .slides > li{
    position: relative;
  }
  .flex-caption {
    position: relative !important;
    min-height: 200px !important;
    height: 100% !important;
    -webkit-background-size: 268px 181px !important;
    -moz-background-size: 268px 181px !important;
    -o-background-size: 268px 181px !important;
    background-size: 268px 181px !important;
    line-height: 1.5em !important;
    border-top: solid 1.5px #a12026 !important;
  }
  .packages-container{
    max-width: 100%;
    margin:0 auto;
  }
  h1.package-header{
    font-size: 2em;
  }
  p.package-description{
    font-size:1.1em;
  }
  ul.package-list{
    line-height: 1.1em !important;
  }
  ul.package-list > li{
    margin-bottom: 7px;
  }
  h3.package-list-header{
    font-size: 1.5em;
    margin-top: 10px;
    margin-bottom: 2px !important;
  }
  .btn {
    font-size: 10px !important;
  }
    
}


