/*
Updated by Colby Jarrell from Colby J Creative.com | 2016
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/

/*Colors
Red: #a12026 rgb(161,32,38)
Pink: #ee6265 rgb(239,98,101)
Yellow: #f8ed70 rgb(248,237,112)
Black: #0c0d0d
White: #fff
Te'a Skin: #fccf9c
Client Skin: #ffebbe
Light Grey: #c5c5c5
*/

/*Typography*/
@font-face{
  font-family: "blessed-day";
  src: url('../font/BLESSED_DAY_COMPLETE.eot') format('embedded-opentype'), url('../font/BLESSED_DAY_COMPLETE.otf') format('opentype');
}


body {
  font-size: 100%;
}

body, h1, h2, h3, h4, h5, h6 {
  font-size-adjust: 0.5;
}

/* Body Content */

body {
  font-size: 1em;
  /* equivalent to 16px */
  line-height: 1.25;
  /* equivalent to 20px */
}

@media (min-width: 43.75em) {
  body {
    font-size: 1em;
    /* equivalent to 16px */
    line-height: 1.375;
    /* equivalent to 22px */
  }
}

/*h1*/

h1 {
  font-size: 2em;
  /* 2x body copy size = 32px */
  line-height: 1.25;
  /* 45px / 36px */
}

@media (min-width: 43.75em) {
  h1 {
    font-size: 2.5em;
    /* 2.5x body copy size = 40px */
    line-height: 1.125;
  }
}

@media (min-width: 56.25em) {
  h1 {
    font-size: 3em;
    /* 3x body copy size = 48px */
    line-height: 1.05;
    /* keep to a multiple of the 20px line height 
    and something more appropriate for display headings */
  }
}

/*h2*/
h2 {
  font-size: 1.625em;
  /* 1.625x body copy size = 26px */
  line-height: 1.15384615;
  /* 30px / 26px */
}

@media (min-width: 43.75em) {
  h2 {
    font-size: 2em;
    /* 2x body copy size = 32px */
    line-height: 1.25;
  }
}

@media (min-width: 56.25em) {
  h2 {
    font-size: 2.25em;
    /* 2.25x body copy size = 36px */
    line-height: 1.25;
  }
}

/*h3*/
h3 {
  font-size: 1.75em;
  /* 1.375x body copy size = 22px */
  line-height: 1.13636364;
  /* 25px / 22px */
}

@media (min-width: 43.75em) {
  h3 {
    font-size: 1.5em;
    /* 1.5x body copy size = 24px */
    line-height: 1.25;
  }
}

@media (min-width: 56.25em) {
  h3 {
    font-size: 2.75em;
    /* 1.75x body copy size = 28px */
    line-height: 1.25;
  }
}

/*h4*/

h4 {
  font-size: 1.125em;
  /* 1.125x body copy size = 18px */
  line-height: 1.11111111;
}

@media (min-width: 43.75em) {
  h4 {
    line-height: 1.22222222;
    /* (22px / 18px */
  }
}

/*h5*/
blockquote {
  font-size: 1.25em;
  /* 20px / 16px */
  line-height: 1.25;
  /* 25px / 20px */
}

@media (min-width: 43.75em) {
  blockquote {
    font-size: 1.5em;
    /* 24px / 16px = */
    line-height: 1.45833333;
    /* 35px / 24px */
  }
}

h4, h5, h6,
h1, h2, h3 {
  margin-top: 0;
}

ul, ol {
  margin: 0;
}

p {
  margin: 0;
}
/*Section Copy*/
.section-head h1{
  font-family: "blessed-day";
  font-size: 12em;
  color:#c5c5c5;
}

h3.section-sub {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 4em;
  color:#c5c5c5;
  margin-bottom: .75em;
}
p.section-body{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-size: 3.75em;
  text-align: justify;
  color:#ee6265;

}
/*End Typography*/



/*colors*/
.red, h1.red, h2.red, h3.red, h4.red, h5.red, h6.red, p.red, a.red, span.red{
  color: #a12026;
}
.pink, h1.pink, h2.pink, h3.pink, h4.pink, h5.pink, h6.pink, p.pink, a.pink, span.pink{
  color: #ee6265;
}
.yellow, h1.yellow, h2.yellow, h3.yellow, h4.yellow, h5.yellow, h6.yellow, p.yellow, a.yellow, span.yellow{
  color: #f8ed70;
}
.black, h1.black, h2.black, h3.black, h4.black, h5.black, h6.black, p.black, a.black, span.black{
  color: #0c0d0d;
}
.white, h1.white, h2.white, h3.white, h4.white, h5.white, h6.white, p.white, a.white, span.white{
  color: #fff;
}
.off-white, h1.off-white, h2.off-white, h3.off-white, h4.off-white, h5.off-white, h6.off-white, p.off-white, a.off-white, span.off-white{
  color: #c5c5c5;
}
.off-black, h1.off-black, h2.off-black, h3.off-black, h4.off-black, h5.off-black, h6.off-black, p.off-black, a.off-black, span.off-black{
  color: #272822;
}
/*End colors*/

/*Sitewide classes*/
.section-padding{
  padding-bottom: 75px;
}
.element-margin{
  margin-bottom: 25px;
}
div.liner{
  border:1.5px solid #a12026;
  max-width: 77%;
}
/*Hidden Nav fixed top*/
.hidden-nav{
  visibility: hidden;
}
.hidden-nav-shadow{
  -webkit-box-shadow: #A12026 1.5px 1.5px 1.5px;
  -moz-box-shadow: #A12026 1.5px 1.5px 1.5px;
  box-shadow: #A12026 1.5px 1.5px 1.5px;
}
h3.h-nav-type{
  margin: -3px;
}
/*Header*/
.header {
  background: url(../images/1.jpg)no-repeat center 25%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.header-transparency{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ee6265+0,ffffff+100 */
  background: #ee6265; /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(239,98,101,.25) 0%, #ffffff 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(239,98,101,.25) 0%, #ffffff 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(239,98,101,.25) 0%, #ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;

  min-height: 850px;
}
.header-container{
  vertical-align: middle;
}
.header-inner{
  padding-top: 45em;
}
.logo-container{
  padding: 0px;
  padding-bottom:0px;
}

.logo {

  margin: 0 auto;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  -webkit-box-shadow: #A12026 3px 3px 3px;
  -moz-box-shadow: #A12026 3px 3px 3px;
  box-shadow: #A12026 3px 3px 3px;
  padding: 0px;

}

.eis-brand {
  -webkit-border-radius: 70px;
  -moz-border-radius: 70px;
  border-radius: 70px;
  border:1px solid #EE6265;
  background:rgba(255,255,255,0.8);
  -webkit-box-shadow: #A12026 3px 3px 3px;
  -moz-box-shadow: #A12026 3px 3px 3px;
  box-shadow: #A12026 3px 3px 3px;
  margin: 10px;

  padding: 10px;
  visibility: hidden;
}
.brand-type{
  max-width: 100%;

  margin: 20px;
}
.brand-nav-container{
  vertical-align: middle;

}
.eis-nav-container {
  visibility: hidden;
  padding: 10px;
}
.nav-shadow{
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -webkit-box-shadow: #A12026 3px 3px 3px;
  -moz-box-shadow: #A12026 3px 3px 3px;
  box-shadow: #A12026 3px 3px 3px;

}

.navbar-nav{
  margin: 0 auto;
  display: table;
  table-layout: fixed;
  float:none;
}
.navbar .nav > li > a, .navbar .nav > li > a,
.navbar .nav > li.current-menu-item > a, 
.navbar .nav > li.current-menu-ancestor > a {                       
  font-family:    'Josefin', sans-serif;
  font-weight: 300;
  font-size: 1.5em;
}
/*--content--*/
.content_top{
  padding:8em 0;
}
.content_top h1{
  color:#c5c5c5;
}
.top_grids{
  margin-top:5em;
}
.grid1{
  position:relative;
}
.grid1 span {
  width: 240px;
  height: 240px;
  display: inline-block;
  background: url(../images/base.png) no-repeat 0px 0px;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}
.grid1:hover .top_grid h3{
  color:#c5c5c5;
}
.grid1:hover .top_grid p{
  color:#c5c5c5;
}
.top_grid {
  position: absolute;
  top:74px;
  left: 80px;
}
.top_grid h3 {
  font-size:3em;
  text-transform: uppercase;
  margin: 0;

}
.top_grid p{
  font-size:1.3em;
  color:#47cec0;
}
/*--end content--*/


/*--about--*/
section#about{
  background: url(../images/springtime-blossoms.jpg) no-repeat center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}

.about-transparency{
  background:rgba(255,255,255,0.75);
  padding: 8em 0;
  border-top: solid 1px #ee6265;
  border-bottom: solid 1px #ee6265;
}
.tea-img{
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  border-radius: 200px;
  -webkit-box-shadow: #A12026 3px 3px 3px;
  -moz-box-shadow: #A12026 3px 3px 3px;
  box-shadow: #A12026 3px 3px 3px;
  border: solid 1px #ee6265;
  margin-bottom: 25px;
}
.about_top{
  text-align:center;
}
.about_bottom {
  margin-top: 5em;
}
.about_left{
  padding: 4em;
}
.about_left a, .feature_right a, .post_but a, .subscribe label, .contact_but label, .planContainer .button a{

  position: relative;
  z-index: 1;
}
.btn1 {
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  padding:30px 80px;
  display: inline-block;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.btn-1 {
  font-size:2em;
  color: #fff;
  background:#a12026;
}


/* Button 1b */
.btn-1b:after {
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  background: #fff;
}
.btn-1b:hover,
.btn-1b:active {
  color:#a12026;
  text-decoration:none;
}
.btn-1b:hover:after,
.btn-1b:active:after {
  height: 100%;
}
.btn1:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

/*Credentials Images*/
.about_right{
  
  padding: 4em;
  height: 100%;

}
ul.cred-img{
  padding:2em;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: #A12026 3px 3px 3px;
  -moz-box-shadow: #A12026 3px 3px 3px;
  box-shadow: #A12026 3px 3px 3px;
  background:rgba(239,98,101,0.5);
  list-style: none;
}
ul.cred-img > li{
  padding:10px;
}

/*The Menu*/
section#the-menu{
  padding-top: 8em;
}
.services-set > div{
  padding: 2em;
}
.services-set > div > img{
  max-width: 90%;
  margin-bottom: 15px;

}
h3.services-header{
  font-size: 2.5em;
}
p.services-description{
  font-size: 2.25em;
}
/*End The Menu*/

/*Elite Packages Section*/
section#elite-packages{
  background: url(../images/packages-bg.jpg) no-repeat center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.elite-packages-transparency{
  border-top: 1px solid #a12026;
  border-bottom: 1px solid #a12026;
  background: rgba(238,98,101,.5);
  padding-top: 8em;
}
h1.red-shadow{
  text-shadow: 
    3px 3px 0 #ee6265,
    -1px -1px 0 #ee6265,
    1px -1px 0 #ee6265,
    -1px 1px 0 #ee6265,
    1px 1px 0 #ee6265;
}
.packages-container{
  max-width: 80%;
  margin:0 auto;
}
h1.package-header{
  font-size: 5.5em;
  font-family: 'blessed-day';
}
p.package-description{
  font-size:2.5em;
}
.package-list{
  list-style: none;
  text-align: center;
  padding: 7.5px;
}
h3.package-list-header{
  font-size: 3.25em;
  margin-top: 10px;
  margin-bottom: 2px !important;
  font-family: 'Josefin Sans', sans-serif;
}

/*.elite-package{
  background: url(../images/be-elite-package-img.jpg)center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/
/*End Elite Packages*/

/*Contact Section*/
section#contact{
  padding-top: 8em;
}
.contact-form{
  margin: 0 auto;
  display: inline-block;
}
/*End Contact*/

/*Footer: Copyright and Social Icons*/
.social{
  text-align:center;
  margin-top:6em;
}
.social ul {
  list-style:none;
  padding: 0;
}
.social ul li:first-child, ol li:first-child {
  margin-top: 0px;
  margin-left: 0;
}
.social li {
  background: none;
  display: inline-block;
  margin-right:1em;
}
.social ul li a i {
  width:75px;
  height: 75px;
  display: block;
  background: url(../images/img-sprite.png)no-repeat;
}
.social ul li a i:hover{
  opacity:0.8;
}
.social ul li a i.fb {
  background-position:-13px -310px;
}
.social ul li a i.tw {
  background-position:-109px -310px;
}
.social ul li a i.db{
  background-position:-215px -309px;
}
p.copyright {
  font-size:1.5em;
  color: #aaa;
  margin: 3em 0 0 0;
}
p.copyright a{
  color:#47cec0;
}
p.copyright a:hover{
  color:#aaa;
  text-decoration:none;
}
.header_social ul{
  padding:0;
  list-style:none;
}
.header_social ul li:first-child, ol li:first-child {
  margin-top: 0px;
  margin-left: 0;
}
.header_social li {
  background: none;
  display: inline-block;
  margin-right: 1em;
}
.header_social ul li a i.fb1 {
  width: 32px;
  height: 40px;
  display: block;
  background: url(../images/img-sprite.png)no-repeat -245px -404px;
  position: absolute;
    left:1035px;
    top: 176px;
}
.header_social ul li a i.fb1:hover, .header_social ul li a i.tw1:hover, .header_social ul li a i.db1:hover, .header_social ul li a i.g1:hover, .header_social ul li a i.skype:hover, .header_social ul li a i.vimeo:hover{
  opacity:0.8;
}
.header_social ul li a i.tw1 {
  width: 32px;
  height: 40px;
  display: block;
  background: url(../images/img-sprite.png)no-repeat -294px -404px;
  position: absolute;
  left: 1115px;
    top: 178px;
}
.header_social ul li a i.db1 {
  width: 36px;
  height: 40px;
  display: block;
  background: url(../images/img-sprite.png)no-repeat -342px -404px;
  position: absolute;
  left: 1195px;
    top: 177px;
}
.header_social ul li a i.g1 {
  width: 36px;
  height: 40px;
  display: block;
  background: url(../images/img-sprite.png)no-repeat -389px -405px;
  position: absolute;
  left: 1075px;
    top: 248px;
}
.header_social ul li a i.skype{
  width: 36px;
  height: 40px;
  display: block;
  background: url(../images/img-sprite.png)no-repeat -444px -405px;
  position: absolute;
  left:1196px;
    top: 254px;
}
.header_social ul li a i.vimeo{
  width: 36px;
  height: 40px;
  display: block;
  background: url(../images/img-sprite.png)no-repeat -27px -452px;
  position: absolute;
  left: 1155px;
    top: 298px;
}
#toTop {
  display: none;
  text-decoration: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  overflow: hidden;
  width:70px;
  height:70px;
  border: none;
  text-indent: 100%;
  background: url(../images/back-top.png) no-repeat 0px 0px;
}
/*End Footer*/


