/*
Updated by Colby Jarrell from Colby J Creative.com | 2016
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/

/*Colors
Red: #a12026 rgb(161,32,38)
Pink: #ee6265 rgb(239,98,101)
Yellow: #f8ed70
Black: #0c0d0d
White: #fff
Te'a Skin: #fccf9c
Client Skin: #ffebbe
Light Grey: #c5c5c5
*/

/*Typography*/
@font-face{
  font-family: "blessed-day";
  src: url('../font/BLESSED_DAY_COMPLETE.eot') format('embedded-opentype'), url('../font/BLESSED_DAY_COMPLETE.otf') format('opentype');
}


body {
  font-size: 100%;
}

body, h1, h2, h3, h4, h5, h6 {
  font-size-adjust: 0.5;
}

/* Body Content */

body {
  font-size: 1em;
  /* equivalent to 16px */
  line-height: 1.25;
  /* equivalent to 20px */
}

@media (min-width: 43.75em) {
  body {
    font-size: 1em;
    /* equivalent to 16px */
    line-height: 1.375;
    /* equivalent to 22px */
  }
}

/*h1*/

h1 {
  font-size: 2em;
  /* 2x body copy size = 32px */
  line-height: 1.25;
  /* 45px / 36px */
}

@media (min-width: 43.75em) {
  h1 {
    font-size: 2.5em;
    /* 2.5x body copy size = 40px */
    line-height: 1.125;
  }
}

@media (min-width: 56.25em) {
  h1 {
    font-size: 3em;
    /* 3x body copy size = 48px */
    line-height: 1.05;
    /* keep to a multiple of the 20px line height 
    and something more appropriate for display headings */
  }
}

/*h2*/
h2 {
  font-size: 1.625em;
  /* 1.625x body copy size = 26px */
  line-height: 1.15384615;
  /* 30px / 26px */
}

@media (min-width: 43.75em) {
  h2 {
    font-size: 2em;
    /* 2x body copy size = 32px */
    line-height: 1.25;
  }
}

@media (min-width: 56.25em) {
  h2 {
    font-size: 2.25em;
    /* 2.25x body copy size = 36px */
    line-height: 1.25;
  }
}

/*h3*/
h3 {
  font-size: 1.75em;
  /* 1.375x body copy size = 22px */
  line-height: 1.13636364;
  /* 25px / 22px */
}

@media (min-width: 43.75em) {
  h3 {
    font-size: 1.5em;
    /* 1.5x body copy size = 24px */
    line-height: 1.25;
  }
}

@media (min-width: 56.25em) {
  h3 {
    font-size: 2.75em;
    /* 1.75x body copy size = 28px */
    line-height: 1.25;
  }
}

/*h4*/

h4 {
  font-size: 1.125em;
  /* 1.125x body copy size = 18px */
  line-height: 1.11111111;
}

@media (min-width: 43.75em) {
  h4 {
    line-height: 1.22222222;
    /* (22px / 18px */
  }
}

/*h5*/
blockquote {
  font-size: 1.25em;
  /* 20px / 16px */
  line-height: 1.25;
  /* 25px / 20px */
}

@media (min-width: 43.75em) {
  blockquote {
    font-size: 1.5em;
    /* 24px / 16px = */
    line-height: 1.45833333;
    /* 35px / 24px */
  }
}

h4, h5, h6,
h1, h2, h3 {
  margin-top: 0;
}

ul, ol {
  margin: 0;
}

p {
  margin: 0;
}
/*Section Copy*/
.section-head h1{
  font-family: "blessed-day";
  font-size: 12em;
  color:#c5c5c5;
}

h3.section-sub {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 4em;
  color:#c5c5c5;
}
p.section-body{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-size: 3.75em;
  text-align: justify;
  color:#ee6265;
}
/*End Typography*/

/*colors*/
.red{
  color: #a12026;
}
.pink{
  color: #ee6265;
}
.yellow{
  color: #f8ed70;
}
.black{
  color: #0c0d0d;
}
.white{
  color: #fff;
}
.off-white{
  color: #c5c5c5;
}
/*End colors*/

/*Header*/
.header {

  background: url(../images/1.jpg)no-repeat center 25%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;


}

.header-transparency{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ee6265+0,ffffff+100 */
  background: #ee6265; /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(239,98,101,.25) 0%, #ffffff 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(239,98,101,.25) 0%, #ffffff 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(239,98,101,.25) 0%, #ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;

  min-height: 850px;
}
.header-container{
  vertical-align: middle;
}
.header-inner{
  padding-top: 45em;
}
 .logo-container{
    padding: 0px;
    padding-bottom:0px;
  }

.logo {

  margin: 0 auto;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  -webkit-box-shadow: #A12026 3px 3px 3px;
  -moz-box-shadow: #A12026 3px 3px 3px;
  box-shadow: #A12026 3px 3px 3px;
  padding: 0px;

}

.eis-brand {
  -webkit-border-radius: 85px;
  -moz-border-radius: 85px;
  border-radius: 85px;
  border:1px solid #EE6265;
  background:rgba(255,255,255,0.8);
  -webkit-box-shadow: #A12026 3px 3px 3px;
  -moz-box-shadow: #A12026 3px 3px 3px;
  box-shadow: #A12026 3px 3px 3px;
  margin: 10px;

  padding: 10px;
  visibility: hidden;
}
.brand-type{
  max-width: 100%;

  margin: 20px;
}
.brand-nav-container{
  vertical-align: middle;

}
.eis-nav-container {
  visibility: hidden;
  padding: 10px;
}
.nav-shadow{
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  -webkit-box-shadow: #A12026 3px 3px 3px;
  -moz-box-shadow: #A12026 3px 3px 3px;
  box-shadow: #A12026 3px 3px 3px;

}

.navbar-nav{
  margin: 0 auto;
  display: table;
  table-layout: fixed;
  float:none;
}
.navbar .nav > li > a, .navbar .nav > li > a,
.navbar .nav > li.current-menu-item > a, 
.navbar .nav > li.current-menu-ancestor > a {                       
  font-family:    'Josefin', sans-serif;
  font-weight: 300;
  font-size: 0.75em;
}
/*--content--*/
.content_top{
  padding:8em 0;
}
.content_top h1{
  color:#c5c5c5;

}
span.m_1{
  color:#a12026;
}
.top_grids{
  margin-top:5em;
}
.grid1{
  position:relative;
}
.grid1 span {
  width: 240px;
  height: 240px;
  display: inline-block;
  background: url(../images/base.png) no-repeat 0px 0px;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}
.grid1:hover .top_grid h3{
  color:#c5c5c5;
}
.grid1:hover .top_grid p{
  color:#c5c5c5;
}
.top_grid {
  position: absolute;
  top:74px;
  left: 80px;
}
.top_grid h3 {
  font-size:3em;
  text-transform: uppercase;
  margin: 0;

}
.top_grid p{
  font-size:1.3em;
  color:#47cec0;
}
/*--end content--*/


/*--about--*/
.approach{
  background: url(../images/springtime-blossoms.jpg) no-repeat center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}

.approach-transparency{
  background:rgba(255,255,255,0.75);
  padding: 8em 0;
  border-top: solid 1px #ee6265;
  border-bottom: solid 1px #ee6265;
}


.approach_top{
  text-align:center;
}
h2.m_3{
  color: #ee6265;
  font-size: 8em;
}
p.head_text{
  color:#ee6265;
  font-size: 3em;
  line-height: 2em;
  margin-bottom:2em;
}

}
p.m_2{
  color: #ee6265;
  font-size: 3em;
  line-height: 2em;
  margin-bottom:2em;
}
.approach_bottom {
  margin-top: 5em;
}
.approach_left a, .feature_right a, .post_but a, .subscribe label, .contact_but label, .planContainer .button a{
  position: relative;
  z-index: 1;
}
.btn1 {
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  padding:30px 80px;
  display: inline-block;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.btn-1 {
  font-size:2em;
  color: #fff;
  background:#47cec0;
}


/* Button 1b */
.btn-1b:after {
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  background: #fff;
}
.btn-1b:hover,
.btn-1b:active {
  color:#47cec0;
  text-decoration:none;
}
.btn-1b:hover:after,
.btn-1b:active:after {
  height: 100%;
}
.btn1:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
