/*
Author: Colby Jarrell
Author URL: https://colbyjcreative.com

*/

/*Colors
Red: #a12026
Pink: #ee6265
Yellow: #f8ed70
Black: #0c0d0d
Te'a Skin: #fccf9c
Client Skin: #ffebbe*/

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */


@media (min-width: 768px) and (max-width: 1210px) {
  .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
}
/* responsive text queries */
@media screen and (max-width: 1500px) {
  p,.btn,input,div,span,h4 {
    font-size: 75%;
  }
  h1 {
    font-size: 20px;  
  }
  h2 {
    font-size: 18px;  
  }
  h3 {
    font-size: 16px;  
  }
}

@media screen and (max-width:1250px) {
  p,.btn,input,div,span,h4 {
    font-size: 75%;
  }
  h1 {
    font-size: 25px;  
  }
  h2 {
    font-size: 20px;  
  }
  h3 {
    font-size: 18px;  
  }
}

@media screen and (max-width:968px) {
  p,.btn,input,div,span,h4 {
    font-size: 100%;
  }
  h1 {
    font-size: 20px;  
  }
  h2 {
    font-size: 18px;  
  }
  h3 {
    font-size: 15px;  
  }
}

/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) {
  
  .header-transparency{
    max-height: 25%;
  }

  .logo {

    margin: 0 auto;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    -webkit-box-shadow: #A12026 3px 3px 3px;
    -moz-box-shadow: #A12026 3px 3px 3px;
    box-shadow: #A12026 3px 3px 3px;
    padding: 0px;

  }
  .brand-type{
    max-width: 90%;

    margin: 0px;
  }
  .container-fluid{
    padding-bottom: 20px;
  }
  .navbar-nav{
      margin: 0 auto;
      display: block;
      table-layout: fixed;
      float:none;
  }



  
}

/* Medium devices (desktops, 992px and up) */
@media (max-width: 992px) {



}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
